doctype html
//-
  Identity by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Big Duckie
    link(rel="stylesheet", href="assets/css/main.css")
    noscript
      link(rel="stylesheet", href="assets/css/noscript.css")
    link(rel="stylesheet", href="assets/css/custom.css")
    script(src="https://kit.fontawesome.com/86ff082c1b.js", crossorigin="anonymous")
  body.is-preload
    //- <div id="wrapper-absolute">
    //- Wrapper
    #wrapper
      //- Main
      #header
        header
          span.avatar
            img(src="assets/images/avatar.png", alt="")
          h1 Big Duckie
          p Irregular Streamer
        footer
          ul.icons
            li
              a.icon.brands.fa-twitch(href="https://www.twitch.tv/thebigduckie_") Twitch
            li
              a.icon.brands.fa-youtube(href="https://youtube.com/channel/UCj3pIAY1nAbDjVcoWrWMA1Q") YouTube
            li
              a.icon.brands.fa-twitter(href="https://twitter.com/TheBigDuckie") Twitter
        hr
        section
          ul.actions.special
            li
              a.button(href="#sdv-mods") SDV Mods
              a.button(href="#tml-mods") TML Mods
      #main
        article#sdv-mods
          h1.major Stardew Valley Mods
          p This is a full list of all the mods I use on Twitch.
          .table-wrapper
            table
              thead
                tr
                  th Mod Name
                  th.text-center.flag
                    abbr(title="Content Patcher")
                      a(href="https://www.nexusmods.com/stardewvalley/mods/1915") CP
                  th.text-center.flag
                    abbr(title="Json Assets")
                      a(href="https://www.nexusmods.com/stardewvalley/mods/1720") JA
                  th.text-center.flag
                    abbr(title="Custom Music")
                      a(href="https://www.nexusmods.com/stardewvalley/mods/3043") CM
                  th.text-center.flag
                    abbr(title="Farm Type Manager")
                      a(href="https://www.nexusmods.com/stardewvalley/mods/3231") FTM
                  th.text-center.flag
                    abbr(title="Audio Api and Toolkit")
                      a(href="https://www.nexusmods.com/stardewvalley/mods/10747") SAAT
                  th.text-center.flag
                    abbr(title="Shop Tile Framework")
                      a(href="https://www.nexusmods.com/stardewvalley/mods/5005") STF
              tbody
                for mod in sdv_mods
                  tr
                    td
                      a(href=mod.url, target="_blank")= mod.name
                      if mod.note
                        sup.note(title=mod.note) [
                          span note
                          | ]
                    td.text-center
                      if mod.type
                        if mod.type.includes("cp")
                          i.fa.fa-check
                    td.text-center
                      if mod.type
                        if mod.type.includes("ja")
                          i.fa.fa-check
                    td.text-center
                      if mod.type
                        if mod.type.includes("cm")
                          i.fa.fa-check
                    td.text-center
                      if mod.type
                        if mod.type.includes("ftm")
                          i.fa.fa-check
                    td.text-center
                      if mod.type
                        if mod.type.includes("saat")
                          i.fa.fa-check
                    td.text-center
                      if mod.type
                        if mod.type.includes("stf")
                          i.fa.fa-check
        article#tml-mods
          h1.major Terraria Mods
          p This is a full list of all the mods I use on Twitch.
          .table-wrapper
            table
              thead
                tr
                  th Mod Name
              tbody
                for mod in tml_mods
                  tr
                    td
                      a(href=mod.url, target="_blank")= mod.name
                      if mod.note
                        sup.note(title=mod.note) [
                          span note
                          | ]
      //- Footer
      footer#footer
        ul.copyright
          li &copy; Big Duckie 2022
          li
            | Designed by 
            a(href="http://html5up.net") HTML5 UP
            |  and 
            a(href="http://frostfire.io") Frostfire Media
    //- </div>
    //- Scripts
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/particles.min.js")
    script(src="assets/js/main.js")
