doctype html
//-
  Identity by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Big Duckie
    link(rel="stylesheet", href="assets/css/main.css")
    noscript
      link(rel="stylesheet", href="assets/css/noscript.css")
    link(rel="stylesheet", href="assets/css/custom.css")
    script(src="https://kit.fontawesome.com/86ff082c1b.js", crossorigin="anonymous")
  body.is-preload
    #particles-js
    //- <div id="wrapper-absolute">
    //- Wrapper
    #wrapper
      //- Main
      header#header
        header
          span.avatar
            img(src="assets/images/avatar.png", alt="")
          h1 Big Duckie
          p Irregular Streamer
        footer
          ul.icons
            li
              a.icon.brands.fa-twitch(href="https://www.twitch.tv/thebigduckie_") Twitch
            li
              a.icon.brands.fa-youtube(href="https://youtube.com/channel/UCj3pIAY1nAbDjVcoWrWMA1Q") YouTube
            li
              a.icon.brands.fa-twitter(href="https://twitter.com/TheBigDuckie") Twitter
        hr
        section
          ul.actions.special
            li
              a.button(href="#sdv-mods") SDV Mods
        article#sdv-mods
          h2.major Stardew Valley Mods
          p This is a full list of all the mods I use on Twitch.
      //- Footer
      footer#footer
        ul.copyright
          li &copy; Big Duckie 2022
          li
            | Designed by 
            a(href="http://html5up.net") HTML5 UP
            |  and 
            a(href="http://frostfire.io") Frostfire Media
    //- </div>
    //- Scripts
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/particles.min.js")
    script(src="assets/js/main.js")